*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
list-style: none;}

section,nav{
	max-width: 1400px;
}

.container-grid {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 0.5fr 4fr 0.5fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	
}
header,main,footer{padding: 0.5em;}
header,footer{
	font-family: "Bebas Neue", cursive;
 
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	grid-area: main;
	background-color: #2B59C3;
	font-family: "Source Sans Pro", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

	main>section{
		flex-grow: 1;
		gap: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1em;
	}

	.imag, .text-container{
		flex: 1 0;
	}
header{grid-area: header;
}
footer{ grid-area: footer;
}

div.text-container {
  margin: 1em 1.2em 1.2em 2em;
}
.imag {
  width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.imag {
  
  width: 100%;
  
  background-position: center;
  background-size: cover;
}

img{
  
  object-fit: cover;
  max-width: 90%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  
}

.mail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.rounded-social-buttons{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.logo>img {
	width: 7em;
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
	*{font-size: 16px;}

	main>section{
		width: 70%;
	}

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
	*{font-size: 18px;}

	main>section{
		flex-grow: 1;
		display: flex;
	  flex-direction: row;
		justify-content: center;
		align-items: center;
		}

		section>div{
			flex: 1;
		}

		main>section{
			width: 100%;
		}

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
	*{font-size:20px;}

}

a{

	font-size: 1em;
	text-decoration: none;
}

.nav-item>a:hover{
	background-color: #F49301;
	transform: scale(1.2,1.2);

}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;

  
}

.button{
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 2s;
	

	will-change: transform;
}


@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}