*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
list-style: none;}

section,nav{
	max-width: 1400px;
}

.container-grid {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 0.5fr 4fr 0.5fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	
}
header,main,footer{padding: 0.5em;}
header,footer{
	font-family: "Bebas Neue", cursive;
  background-color: #2B59C3;
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	grid-area: main;
	background-color: #F49301;
	font-family: "Source Sans Pro", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	}

	section{
		flex-grow: 1;
	}
header{grid-area: header;
}
footer{ grid-area: footer;
}



.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}



.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 2rem;
height: 2rem;
border: 0.008rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.12rem;
transition: all 0.5s ease;
margin-right: 0.16rem;
margin-bottom: 0.16rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
				transform: rotate(360deg);
}

.rounded-social-buttons .fa-discord, .fa-whatsapp, .fa-linkedin, .fa-github {
font-size: 16px;
}

.rounded-social-buttons .social-button.discord {
background: #3b5998;
}

.rounded-social-buttons .social-button.discord:hover, .rounded-social-buttons .social-button.discord:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.whatsapp {
background: #55acee;
}

.rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}




.rounded-social-buttons .social-button.github {
background: #125688;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}



.logo>img {
	width: 7em;
}

img,iframe,.div-texto{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}





/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
	*{font-size: 16px;}




}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
	*{font-size: 18px;}

	section{
	
	display: flex;

	justify-content: center;
	align-items: center;
	}

	img{
		width: 15em;
		height: auto;
	}
	
	iframe {
		width: 25em;
		height: 12.5em;
	}


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
	*{font-size:20px;}

	img{
		width: 15em;
		height: auto;
	}
	
	iframe {
		width: 30em;
		height: 15em;
	}


}   