@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

@use "../components/animations";

footer {
  
  @include a.fx-all-center;
  font-family: t.$sans-serif, sans-serif;
  height: 100px;
  font-size: 1.2em;
  width: 100%;

  background-color: v.$secundario;

  section {
    @include a.fx-col-all-center;
  }

  .mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: v.$tercero;
  }

  
}

