@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

app-header {
  grid-area: header;
  background-color: v.$secundario;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

  header {
    font-family: t.$sans-serif, sans-serif;

    font-size: 1.3em;

    width: 100%;

    nav {
      flex: 1;
      display: flex;
      justify-content: space-around;
      color: v.$secundario;
      flex-direction: column;
      
      .container-fluid.navbar {
        --bs-gutter-x: 0;

        .navbar-toggler {
          border: 0;
          border-color: v.$tercero;
          background-color: v.$tercero;
          height: 40px;
        }

        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
          outline: none !important;
          box-shadow: none !important;
          border: 0 !important;
        }

        /* Lines of the Toggler */
        .toggler-icon {
          width: 30px;
          height: 3px;
          background-color: #e74c3c;
          display: block;
          transition: all 0.2s;
        }

        /* Adds Space between the lines */
        .middle-bar {
          margin: 5px auto;
        }

        /* State when navbar is opened (START) */
        .navbar-toggler .top-bar {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        .navbar-toggler .middle-bar {
          opacity: 0;
          filter: alpha(opacity=0);
        }

        .navbar-toggler .bottom-bar {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }
        /* State when navbar is opened (END) */

        /* State when navbar is collapsed (START) */
        .navbar-toggler.collapsed .top-bar {
          transform: rotate(0);
        }

        .navbar-toggler.collapsed .middle-bar {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        .navbar-toggler.collapsed .bottom-bar {
          transform: rotate(0);
        }
        /* State when navbar is collapsed (END) */

        /* Color of Toggler when collapsed */
        .navbar-toggler.collapsed .toggler-icon {
          background-color: #777777;
        }

        .navbar-collapse {
          .menu-principal {
            
            .nav-item .nav-link.active {
              margin-right: 10px;
              text-align: left;
              color: v.$secundario;
              letter-spacing: 0.05em;
              transform: scaleY(1.1);
            }

            .nav-item a {
              text-decoration: none;

              letter-spacing: 2px;
              text-align: center;
              position: relative;
              transition: all 0.35s;
            }

            .nav-item a span {
              color: v.$tercero;
              position: relative;
              z-index: 2;
            }

            .nav-item a:after {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background: v.$primario;

              transition: all 0.35s;
            }

            .nav-item a:hover {
              color: #fff;
            }

            .nav-item a:hover:after {
              width: 100%;
            }
          }

          

          .nav-item.dropdown .nav-link,.login {
            font-size: 1em;
         
            color: v.$tercero;
          }
        }
      }

      .rounded-social-buttons.container-fluid {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.5em;
        font-size: 1em;
        .social-button:hover {
          background-color: v.$cuarto;
        }
        .social-button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: v.$tercero;
          height: 30px;
          width: 30px;
          border-radius: 100%;
          transition: background 0.5s ease-in-out;
          .fa-brands:hover {
            transform: rotate(360deg);
          }
          .fa-brands {
            font-size: 100%;
            position: relative;
            transition: transform 0.5s ease-in-out;
          }
        }

        i {
          color: v.$secundario;
        }
      }
    }

    .logo img {
      width: 7em;
    }
  }
}


