@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;


.wrapper {
  a {
    display: block;

    padding: 0.5em 1em 0.5em 1em;
    font-family: t.$sans-serif;
    text-decoration: none;
    color: v.$dark-primary;
    border: 2px solid v.$divider-color;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 0;
    color: v.$text-icon;

    letter-spacing: 0.3em;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: v.$accent;
    transition: all 0.35s;
    z-index: -1;
  }

  span:hover {
    color: v.$secondary-text;
  }

  a:hover:after {
    width: 100%;
  }
}

.rounded-social-buttons.container-fluid {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  .social-button:hover {
    background-color: v.$accent;
  }
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$light-primary;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transition: background 0.5s ease-in-out;
    .fa-brands:hover {
      transform: rotate(360deg);
    }
    .fa-brands {
      font-size: 100%;
      position: relative;
      transition: transform 0.5s ease-in-out;
    }
  }

  i {
    color: v.$dark-primary;
  }
}