<article class="aboutme">

  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar" (click)="agregar()" *ngIf="isAuthenticated"><i class="fa-solid fa-square-plus"></i></div>
    
    </div>
  </div>
  <h2>SOBRE MI</h2>

  <section>
    <div class="imag">
      <div class="container-img">
        <img src={{persona?.image_sobre_mi}} alt="personal photo" />
      </div>
    </div>

    <div class="text-container">
      <div class="modificaciones">
        <div class="container-modificaciones">
          <div class="boton-editar" *ngIf="isAuthenticated">
            <a (click)="editar()"><i class="fa-regular fa-pen-to-square"></i></a>
            <a (click)="delete(persona)"><i class="fa-sharp fa-solid fa-trash-can"></i></a>
          </div>
        </div>
      </div>
      <div class="title">
        <h4>{{persona?.nombres + " " + persona?.apellido }}</h4>
        <h6 class="font-weight-bolder">{{persona?.ocupacion}}</h6>
      </div>
      <p>
     {{persona?.sobre_mi}}
      </p>
      <!-- <div class="wrapper">
        <a href="contact.html"
          ><span>DESCARGA MI CV</span></a
        >
      </div> -->
    </div>
  </section>
</article>
