<article class="aboutme">
  <h2>SOBRE MI</h2>

  <section>
    <div class="imag">
      <div class="container-img">
        <img src="../../assets/images/106_1852.JPG" alt="personal photo" />
      </div>
    </div>

    <div class="text-container">
      <div class="modificaciones">
        <div class="container-modificaciones">
          <div class="boton-editar" >
            <a (click)="editar()"><i class="fa-regular fa-pen-to-square"></i></a>
          </div>
        </div>
      </div>
      <div class="title">
        <h4>{{persona?.nombres + " " + persona?.apellido }}</h4>
        <h6 class="font-weight-bolder">{{persona?.ocupacion}}</h6>
      </div>
      <p>
     {{persona?.sobre_mi}}
      </p>
      <div class="wrapper">
        <a href="contact.html"
          ><span>DESCARGA MI CV</span></a
        >
      </div>
    </div>
  </section>
</article>
