<h1 mat-dialog-title>Agregar educación</h1>
<div mat-dialog-content> 

  
  <form [formGroup]="skillForm" >

    
  <mat-form-field class="mb-3 w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  
  <mat-form-field class="mb-3 w-100">
    <mat-label>Porcentaje</mat-label>
    <input matInput type="number" formControlName="porcentaje">
  </mat-form-field>
  
  <div mat-dialog-action >
    <button mat-button (click)="add()">Submit</button>
    <button mat-button (click)="onNoClick($event)">Cancelar</button>
  </div>
</form>
</div>
