@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

@media only screen and (min-width: 340px) {
	.services {
		section {
			max-width: 300px;

			.text-container {
				color: v.$primario;

				h1 {
					font-size: 1.5em;
				}

				p {
					font-size: 1.4em;
				}
			}
		}
	}




}

@media only screen and (min-width: 767px) {
	header {
		nav {
			.container-fluid {
				.navbar-collapse {
					.menu-principal {
						.nav-item .nav-link.active {
							text-align: center;
						}
					}
				}
			}
		}
	}





	.container-grid {
		grid-template-rows: 93.95px auto 100px;
	}

	footer section {
		flex-direction: row;
		display: flex;
		justify-content: space-between;

		flex: 1;
	}

	.services {
		flex-direction: row;
		flex-wrap: wrap;

		max-width: 900px;

		gap: 3em;

		section {
			margin: 1em;
		}
	}

	.projects {
		gap: 50px;

		section {
			flex-direction: row;
			min-width: 700px;
			height: 400px;

			.imag,
			.text-container {
				flex: 1;
			}

			.text-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				justify-content: center;
				justify-items: center;
			}

			.imag {
				position: relative;
				overflow: hidden;
				height: 100%;
				border-radius: 10px 0px 0px 10px;

				img {
					position: absolute;
					height: 100%;
					width: auto;
					background-position: center;
					left: -60px;
				}
			}
		}
	}

	.main-aboutme {
		.aboutMe {
			flex-direction: row;
			max-width: 700px;

			.imag,
			.text-container {

				flex: 1;
			}

			.text-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				align-content: center;
				justify-content: center;
				justify-items: center;

				p {
					font-size: 1.1em;
				}
			}

			.imag {
				position: relative;
				overflow: hidden;
				height: 100%;

				img {
					position: absolute;
					height: 120%;
					width: auto;

					left: -40px;
					top: -10px;
					right: 0;
				}
			}
		}

		.skills {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			max-width: 700px;

			.skill-bars {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				align-content: center;
				justify-content: space-around;
				justify-items: center;
				gap: 1em;
				width: 800px;

				.bar {
					width: 350px;
					margin-top: 0px;
				}
			}
		}
	}
}

@media only screen and (min-width: 840px) {
	.projects {


		section {
			flex-direction: row;
			min-width: 800px;



		}
	}


	.main-aboutme {
		.aboutMe {
			height: 300px;
			max-width: 900px;

			.imag {
				position: relative;
				overflow: hidden;
				height: 100%;

				img {
					position: absolute;
					height: 120%;
					width: auto;

					left: -40px;
					top: -10px;
					right: 0;
				}
			}
		}

		.skills {
			flex-direction: row;
			padding: 0;
			margin: 0;
			max-width: 900px;
		}
	}
}

@media only screen and (min-width: 1024px) {

	.projects {


		section {
			flex-direction: row;
			min-width: 900px;



		}
	}

	.index section {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		padding: 0;
		margin: 0;

		max-width: 1100px;

		.text-container {
			flex: 1;
			display: flex;
			flex-direction: column;

			align-content: space-between;
			justify-content: space-around;

			h1 {
				font-size: 180%;
			}





		}

		.imag {
			background-position: center;
			background-size: cover;
			max-width: 400px;

			img {
				width: 100%;
			}
		}
	}
}