@use "./mixins" as a;




@media only screen and (min-width: 480px) {
	footer section {
		flex-direction: row;
		display: flex;
		justify-content: space-between;

		flex: 1;
	}
}

@media only screen and (min-width: 840px) {


	.index section,
	.aboutMe section,
	.projects section,
	.services section,
	.contact section {
		flex-direction: row;
		align-items: center;
		justify-content: stretch;
		margin: 1em;
		padding: 0.5em;
		max-width: 800px;
		max-height: 300px;
		
	
		.imag, .text-container{
			flex: 1 0;
			
		}
		

		img {
			
			max-width: 400px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.index section,
	.aboutMe section,
	.projects section,
	.services section,
	.contact section {
		max-width: 1200px;

		.imag, .text-container{
			flex: 1 0;
			
		}
		

		div .text-container {
			margin: 1em 0.8em 1em 0.8em;
			font-size: 20px;
		}
	}
}
