@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.cdnfonts.com/css/brandon-grotesque-regular");

$sans-serif: "Bebas Neue", Helvetica, Verdana, sans-serif;
$serif: "Avenir", Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
