
    <header>
      <nav class="navbar navbar-expand-md navbar-light ">
        <div class="container-fluid">
          <div class="logo"><img src="../../assets/images/logo-no-background_adobe_express.svg" alt="logo"></div>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
            
          </button>
          <div class="collapse navbar-collapse flex-md-row" id="navbarSupportedContent">
            <ul class="navbar-nav d-md-flex d-md-flex  flex-md-fill">
              <div class=" menu-principal nav-item d-md-flex flex-grow-1 justify-content-md-center    bd-highlight ">
                <li class="nav-item">
                  <a class="nav-link active " (click)="scrollTo('home')" [ngClass]="{ 'current-section': currentSection === 'home' }" aria-current="page" [routerLink] = "['/']"  fragment="home" ><span>{{ "menu.home" | translate }}</span></a>
                </li>
                <li class="nav-item">
                  <a (click)="scrollTo('aboutme')" [ngClass]="{ 'current-section': currentSection === 'aboutme' }" class="nav-link active " aria-current="page" [routerLink] = "['/']"  fragment="aboutme" ><span>{{ "menu.aboutme" | translate }}</span></a>
                </li>
                <li class="nav-item">
                  <a (click)="scrollTo('projects')" [ngClass]="{ 'current-section': currentSection === 'projects' }" class="nav-link active " aria-current="page" [routerLink] = "['/']"  fragment="projects" ><span>{{ "menu.projects" | translate }}</span></a>
                </li>
                <li class="nav-item">
                  <a (click)="scrollTo('services')" [ngClass]="{ 'current-section': currentSection === 'services' }" class="nav-link active " aria-current="page" [routerLink] = "['/']"  fragment="services" ><span>{{ "menu.services" | translate }}</span></a>
                </li>
                <li class="nav-item">
                  <a (click)="scrollTo('contact')" [ngClass]="{ 'current-section': currentSection === 'contact' }" class="nav-link active " aria-current="page" [routerLink] = "['/']"  fragment="contact" ><span>{{ "menu.contact" | translate }}</span></a>
                </li>
              </div>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-language"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <ng-container *ngFor="let language of languageList">
                    <li role="menuitem">
                      <a
                      class="dropdown-item"
                      (click)="changeSiteLanguage(language.code)">
                        {{ language.label }}
                      </a>
                    </li>
                  </ng-container>
                 


                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
   