@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

main {
	@include a.fx-col-all-center;
	grid-area: main;
	background-color: #2b59c3;
	padding: 0.5;

	section {
		@include a.fx-col-all-center;
		flex-grow: 1;
		gap: 1em;
		margin: 1em;
		padding: 0.5em;
		max-width: 480px;
	}

	.imag,
	.text-container {
		flex: 1 0;
	}

	.text-container {
		margin: 1em 0.8em 1em 0.8em;

		h1 {
			font-weight: 900;
		}

		h2 {
			font-size: x-large;
		}

		span {
			color: #f49301;
		}
	}
	.imag {
		width: 100%;
		background-position: center;
		background-size: cover;

		img {
			width: 100%;
			height: auto;

			border-radius: 5px;
			background-position: center;
			background-size: cover;
		}
	}

	div button {
		@include a.fx-all-center;
		padding: 1.05em 1.8em;

		text-align: center;
		cursor: pointer;
		outline: none;
		color: #fff;
		background-color: #04aa6d;
		border: none;
		border-radius: 15px;
		animation-name: pulse;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in;
		animation-duration: 10s;
		will-change: transform;

		a {
			font-size: 1.4em;
		}
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(1.1);
		}
		50% {
			transform: scale(1);
		}
		75% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
}
