@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.services {
	
	grid-area: main;
	padding: 1em;

	
	.titulo {
		flex: 1 0 100%;
		text-align: center;
		font-family: t.$sans-serif;
		
		text-shadow: 5px 5px black;
		color: v.$primario;
		h1{
			font-size: 50px;
			margin-bottom: 0.5em;
		}
		
	}
	section {
		@include a.fx-col-all-center;
		background-color: v.$secundario;
		border: 2px solid v.$tercero;
		border-radius: 10px 10px 10px 10px;
		gap: 0.5em;
		height: 380px;
		margin-bottom: 1em;
		max-width: 300px;
		
		
		flex-shrink: 0;
		
		.text-container,
		.imag {
			flex: 1;
		}

		.text-container {
			color: v.$primario;

			padding: 0.5em 1em 0em 2em;

			h1 {
				font-weight: 900;
				font-size: 1.4em;
			}

			p {
				font-size: 1.2em;
			}
		}
		.imag {
			@include a.fx-all-center;
			margin: 2em 0em 0.5em 0em;
			flex: 1;
			border-style: solid;
			width: 170px;

			border-radius: 50%;
			background-color: v.$tercero;
			img {
				width: 100px;
				height: auto;
				background-position: center;
				background-size: cover;
			}
		}
	}
}
