@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

@media only screen and (min-width: 340px) {
 

  .projects {
    section {
      max-width: 400px;
    }
  }
	.aboutMe {
    section {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 767px) {
  

  .container-grid {
    grid-template-rows: 93.95px auto 100px;
  }

  nav::after {
    content: none;
  }

  header {
    height: 100px;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
			background: inherit;
			content: "";
			display: block;
			height: 10%;
			left: 0;
			position: absolute;
			right: 0;
			z-index: -1;
    }

    &:after {
			
			position: absolute;
      background-color: v.$secundario ;
      height: 100px;
			top: 0px;
      transform: skewY(-2deg);
      transform-origin: right;

      
      z-index: -1;
    }
    &:before {
		
      display: inline-block;
			position: absolute;
     
			height: 100px;
      
			bottom: -40px;
      background-color: v.$secundario ;
      
      

      
    }
  }

  header {
    height: 50px;
    position: fixed;
    nav {
      .container-fluid {
        .navbar-collapse {
          .menu-principal {
            .nav-item .nav-link.active {
              text-align: center;
            }
          }
        }
      }
    }
  }

  footer section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    flex: 1;
  }

  .services {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;

    gap: 1em;

    section {
      margin: 1em;
    }
  }

  .projects {
    gap: 1em;

    section {
      flex-direction: row;
      min-width: 700px;
      height: 400px;

      .imag,
      .text-container {
        flex: 1;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
      }

      .imag {
        position: relative;
        overflow: hidden;
        height: 100%;
        border-radius: 10px 0px 0px 10px;

        img {
          position: absolute;
          height: 100%;
          width: auto;
          background-position: center;
          left: -60px;
        }
      }
    }
  }

  .main-aboutme {
    .aboutMe {
      flex-direction: row;
      max-width: 700px;

      .imag,
      .text-container {
        flex: 1;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;

        p {
          font-size: 1.1em;
        }
      }

      .imag {
        position: relative;
        overflow: hidden;
        height: 100%;

        img {
          position: absolute;
          height: 120%;
          width: auto;

          left: -40px;
          top: -10px;
          right: 0;
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1em;
      max-width: 700px;

      .skill-bars {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        justify-items: center;
        gap: 1em;
        width: 800px;

        .bar {
          width: 350px;
          margin-top: 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 840px) {


  .projects {
    section {
      flex-direction: row;
      max-width: 900px;
      .text-container {
        h2 {
          font-size: 3em;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }

  .main-aboutme {
    .aboutMe {
      height: 300px;
      max-width: 900px;

      .imag {
        position: relative;
        overflow: hidden;
        height: 100%;

        img {
          position: absolute;
          height: 120%;
          width: auto;

          left: -40px;
          top: -10px;
          right: 0;
        }
      }
    }

    .skills {
      flex-direction: row;
      padding: 0;
      margin: 0;
      max-width: 900px;
    }
  }

  .index section {
    .imag {
      background-position: center;
      background-size: cover;

      border-radius: 20px 0px 0px 20px;
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {


 

  .index section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    margin: 0;

    max-width: 1100px;

    .text-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      align-content: space-between;
      justify-content: space-around;

      h1 {
        font-size: 180%;
      }
    }

    .imag {
      background-position: center;
      background-size: cover;
      max-width: 400px;

      img {
        width: 100%;
        border-radius: 20px 0px 0px 20px;
      }
    }
  }
}
