@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

@media only screen and (min-width: 340px) {
  .banner {
    height: 100px;
    .container {
      .imagen-perfil {
        width: 100px;
        height: 100px;
      }
    }
  }

}

@media only screen and (min-width: 500px) {
  .banner {
    height: 120px;
    .container {
      .imagen-perfil {
        width: 130px;
        height: 130px;
      }
    }
  }

  .index {
    section {
      .social {
        flex-direction: row;
        justify-content: space-around;
        
          .rounded-social-buttons.container-fluid{
            justify-content: flex-end;
          }
          
        
      }
    }
  }


}

@media only screen and (min-width: 768px) {
 
  main {
    gap: 100px;
  }

  .banner {
    height: 150px;

    .container {
      justify-content: left;
      .imagen-perfil {
        width: 130px;
        height: 130px;
      }
    }
  }

  .aboutme section,
  .projects section {
    flex-direction: row;

    height: 530px;
    overflow: hidden;

    .imag {
      flex: 1 1 50%;
      max-height:500px;
      .container-img {
        
        img {
          width: auto;
          height: 1000px;
          object-position: -100px -100px;
        }
      }
    }
  }

  .index section {
    width: 100%;
  }



  .contact {
    .container {
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 840px) {
  main {
    gap: 100px;
  }
 

  .index section {
    width: 100%;
  }

 

 
}

@media only screen and (min-width: 992px) {
  main {
    gap: 100px;
  }


}

@media only screen and (min-width: 1400px) {
  main {
    gap: 100px;
  }


}


