@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.aboutme {
  height: auto;
 
  gap: 1em;
  position: relative;

  
 
  
  overflow: hidden;


  section {
    @include a.fx-col-all-center;
    border-radius: 5px;
    background-color: v.$dark-primary;
    border-radius: 10px 10px 10px 10px;
    
    border: 2px solid v.$divider-color;
    padding: 1em;
    gap: 2em;

    
    
    .text-container {
      padding: 0.5em;
      flex: 1 1 50%;
      height: 100%;
      color: v.$text-icon;
      
      display: flex;
      
      flex-direction: column;
      gap: 2em;
      position: relative;

      h4{
       align-self: flex-start;

       
      font-family: t.$title;
      text-transform: uppercase;

      }

      h6{
        font-family: t.$subtitle;
      text-transform: uppercase;
      letter-spacing: 3px;
      }

      p { flex: 1;
        font-family: t.$p;
        font-style: normal;
        line-height: 1.5em;
      }

      .wrapper{
        align-self: flex-end;
        
      }
    }
    .imag {
      
      flex: 0 0 50%;
      overflow: hidden;
      width: 100%;
      border-radius: 10px 10px 10px 10px; 
      max-height: 400px;
      position: relative;
      .container-img {
       
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          
          width: 900px;
          height: auto;
          object-position: -70px -100px;
        }
      }
    }
  }
}