@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.experience {
  display: flex;

  flex-direction: column;
  width: 100%;

  h2 {
    font-weight: 900;
    font-family: t.$sans-serif;
    

    color: v.$primario;
  }

  .card-exp {
    flex: 1;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    section {
      max-width: 420px;
      padding: 1.3em;
      gap: 10px;
      display: grid;
      grid-template-columns: 0.1fr 0.9fr;
      justify-content: start;
      justify-items: start;

      align-items: flex-start;
      background-color: v.$secundario;
      border-radius: 10px 10px 10px 10px;
      border-radius: 5px;
      border: 2px solid v.$tercero;
      .line {
        border-left: 6px solid green;
        height: 100%;
        grid-column: 1;
        grid-row: 1 / 3;
      }

      .description {
        color: v.$tercero;
        flex: 1;

        p {
          color: v.$tercero;
          font-family: t.$sans-serif-2;
          font-style: normal;
        }
      }
      .title {
        flex: 1;
        padding: 0;

        h4 {color: v.$tercero;
          font-family: t.$sans-serif;

          
        }

        h6 {color: v.$tercero;
        }
      }
    }
  }
}
