@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

.index {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: v.$secundario;

  section {
    @include a.fx-col-all-center;
    flex: 1;
    gap: 1em;

    padding: 1em;

    .text-container {
      flex: 1;
      @include a.fx-all-center;
      color: v.$primario;
      width: 100%;
      font-family: t.$sans-serif-2;
      font-style: normal;

      div {
        width: 100%;
        h1 {
          line-height: 2em;
          font-weight: 400;
        }
      }

      span {
        color: v.$tercero;
        font-style: italic;
        font-weight: 900;
      }
    }

    .social {
      flex: 0 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      gap: 20px;
    }
  }
}
