<article class="index">

  <section>



    <div class="text-container">
      <div>
        <h1 >Hola, mi nombre es <span>{{ datos?.nombres + " " + datos?.apellido }}</span><br> Soy <span> {{datos?.ocupacion}} </span> </h1>
      </div>


    </div>

    <div class="social">

      <!-- <div class="wrapper">
        <a href="contact.html"><span>CONTACTO</span></a>
      </div> -->

      <div class="rounded-social-buttons container-fluid">
        <a class="social-button whatsapp" href="https://wa.me/5493413594246" target="_blank">
          <i class="fa-brands fa-whatsapp faa-horizontal "></i>
        </a>
        <a class="social-button discord" href="https://discordapp.com/users/340308963557900290" target="_blank">
          <i class="fa-brands fa-discord faa-horizontal "></i>
        </a>
        <a class="social-button linkedin faa-horizontal " href="https://www.linkedin.com/in/matias-poses-4748aa130/"
          target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="social-button github" href="https://github.com/campeone-pixel" target="_blank">
          <i class="fa-brands fa-github faa-horizontal "></i>
        </a>
      </div>
    </div>


  </section>

</article>