<article class="index">

  <section>

    <div class="imag"><img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" alt="index photo">
    </div>

    <div class="text-container">
      <div>
        <h1>Hi, my name is <br>

          <span>Matias Poses</span> <br>

          I'm a <span>Fullstack Developer</span><br>
          based in Argentina.
        </h1>
      </div>

      <div class="wrapper">
        <a href="contact.html"><span>Contact me</span></a>
      </div>
    </div>


  </section>

</article>
