<article id="home" class="index">

  <section>

    <div class="imag"><img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" alt="index photo">
    </div>

    <div class="text-container">
      <div>
        <h1>{{ "home.introduction_1" | translate }} <br>

          <span>{{ "home.introduction_2" | translate }}</span> <br>

          {{ "home.introduction_3" | translate }} <span>{{ "home.introduction_4" | translate }}</span><br>
          {{ "home.introduction_5" | translate }}
        </h1>
      </div>

      <div class="wrapper">
        <a href="contact.html"><span>{{ "home.index_contact" | translate }}</span></a>
      </div>
    </div>


  </section>

</article>
