<article class="projects">

  <h1>Last Projects</h1>

  <section class="">

    <div class="imag"><img src="../../assets/images/blog.jpg" alt="photo blog">
    </div>

    <div class="text-container">

      <h2>Blog</h2>

      <p> Este blog lo hice en un curso de CODERHOUSE. Esta hecho en DJANGO , HTML Y CSS. Me gusta mucho DJANGO para el BACKEND y voy seguir aprendiendo para poder crear proyectos mas grandes con esta poderosa herramienta de PYTHON.  </p>
    </div>
  </section>

  <section class="">

    <div class="imag"><img src="../../assets/images/calculadora.png" alt="calculator photo">
    </div>

    <div class="text-container">

      <h2>Calculadora </h2>

      <p> Esta calculadora fue un proyecto que realice con el curso de The Odin Project. El curso se llama Foundation y es una muy buena forma de empezar a aprender los basico de desarrollo WEB.  </p>
    </div>
  </section>

  

</article>
