<article  class="projects">

  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar"><i class="fa-solid fa-square-plus"></i></div>
    
    </div>
  </div>

  <h2>{{miPortfolio?.section_projects?.title_projects}}</h2>

 <section class="" *ngFor="let project of miPortfolio?.section_projects?.projects">

    <div class="imag">
     
      <div class="container-img">
      
        <img src= {{project.path}} alt="photo blog"></div>
    </div>

    <div class="text-container">
      <div class="modificaciones">
        <div class="container-modificaciones">
          <div class="boton-editar"><i class="fa-regular fa-pen-to-square"></i></div>
          <div class="boton-editar"><i class="fa-sharp fa-solid fa-trash-can"></i></div>
        </div>
      </div>

      <h3>{{project.title}}</h3>

      <p> {{project.description}}</p>

      <div class="wrapper">
        <a href="contact.html"><span>GITHUB</span></a>
      </div>

    </div>
  </section> 




 

  

</article>
