<article class="projects">
  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar" (click)="agregar()">
        <i class="fa-solid fa-square-plus"></i>
      </div>
    </div>
  </div>

  <h2>PROYECTOS</h2>

  <section class="" *ngFor="let project of proyectos">
    <div class="container-img">
      <img src="{{ project?.link_foto }}" alt="personal photo" />
    </div>
    <div class="text-container">
      <div class="modificaciones">
        <div class="container-modificaciones">
          <div class="boton-editar" (click)="editar(project)">
            <i class="fa-regular fa-pen-to-square"></i>
          </div>
          <div class="boton-eliminar" (click)="delete(project)">
            <i class="fa-sharp fa-solid fa-trash-can"></i>
          </div>
        </div>
      </div>

      <h3>{{ project.nombre }}</h3>

      <p>{{ project.descripcion }}</p>

      <div class="wrapper">
        <a href="{{ project.link }}"><span>GITHUB</span></a>
      </div>
    </div>
  </section>
</article>
