@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.cdnfonts.com/css/brandon-grotesque-regular");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas: "header" "main" "footer";
}

section, nav {
  max-width: 1400px;
}

header {
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif, sans-serif;
  font-size: 1.3em;
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: #0049b7;
  padding: 1% 8% 1% 8%;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  color: #fff685;
}
header nav .container-fluid {
  color: #fff685;
}
header nav .container-fluid li .nav-link {
  font-size: x-large;
  color: #fff685 !important;
}
header .logo img {
  width: 7em;
}
header .nav-item a:hover {
  background-color: #f49301;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif, sans-serif;
  grid-area: footer;
  font-size: 1.2em;
  background-color: #0049b7;
  padding: 1% 8% 1% 8%;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
footer .mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff685;
}
footer .rounded-social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  font-size: 1.4em;
}
footer .rounded-social-buttons i {
  color: #fff685;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  background-color: #00ddff;
  padding: 1% 8% 1% 8%;
}
.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
  margin: 1em;
  padding: 0.5em;
}
.index section .text-container {
  color: #fff685;
  margin: 1em 0.8em 1em 0.8em;
}
.index section .text-container h1 {
  font-weight: 900;
  font-family: "Avenir", Georgia, "Times New Roman", serif;
}
.index section .text-container span {
  color: #0049b7;
  font-family: "Source Code Pro", Courier, mono;
}
.index section .text-container div button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.05em 1.8em;
  outline: none;
  background-color: #0049b7;
  border: none;
  border-radius: 15px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  will-change: transform;
}
.index section .text-container div button a {
  font-size: 1.4em;
  color: #fff685;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
}
.index section .imag {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.index section .imag img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  background-color: #00ddff;
  padding: 1% 8% 1% 8%;
}
.aboutMe section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
  margin: 1em;
  padding: 0.5em;
}
.aboutMe section .text-container {
  color: #fff685;
  max-width: 600px;
  margin: 1em 0.8em 1em 0.8em;
}
.aboutMe section .text-container h1 {
  font-weight: 900;
  font-family: "Avenir", Georgia, "Times New Roman", serif;
}
.aboutMe section .text-container span {
  color: #0049b7;
  font-family: "Source Code Pro", Courier, mono;
}
.aboutMe section .imag {
  margin: 1em 0.8em 1em 0.8em;
  background-position: center;
  background-size: cover;
  max-width: 300px;
}
.aboutMe section .imag img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  background-color: #00ddff;
  padding: 1% 8% 1% 8%;
}
.contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0 0.5em 0 0.5em;
  align-items: stretch;
  gap: 1em;
  margin: 1em;
  padding: 0.5em;
  max-width: 700px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  background-color: #00ddff;
  padding: 1% 8% 1% 8%;
}
.projects h1 {
  font-weight: 900;
  font-family: "Avenir", Georgia, "Times New Roman", serif;
  font-size: 3em;
  color: #ff1d58;
}
.projects section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
  margin: 1em;
  padding: 0.5em;
}
.projects section .text-container {
  color: #fff685;
  max-width: 600px;
  margin: 1em 0.8em 1em 0.8em;
}
.projects section .text-container h1 {
  font-weight: 900;
  font-family: "Avenir", Georgia, "Times New Roman", serif;
}
.projects section .text-container span {
  color: #0049b7;
  font-family: "Source Code Pro", Courier, mono;
}
.projects section .imag {
  margin: 1em 0.8em 1em 0.8em;
  background-position: center;
  background-size: cover;
  max-width: 300px;
}
.projects section .imag img {
  width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  background-color: #00ddff;
  padding: 1% 8% 1% 8%;
}
.services section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
  margin: 1em;
  padding: 0.5em;
}
.services section .imag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.services section .text-container {
  color: #fff685;
  max-width: 600px;
  margin: 1em 0.8em 1em 0.8em;
}
.services section .text-container h1 {
  font-weight: 900;
  font-family: "Avenir", Georgia, "Times New Roman", serif;
}
.services section .text-container span {
  color: #0049b7;
  font-family: "Source Code Pro", Courier, mono;
}
.services section .imag {
  margin: 1em 0.8em 1em 0.8em;
  background-position: center;
  background-size: cover;
  max-width: 300px;
}
.services section .imag img {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  footer section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
@media only screen and (min-width: 840px) {
  .index section,
  .aboutMe section,
  .projects section,
  .services section,
  .contact section {
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 1em;
    padding: 0.5em;
    max-width: 800px;
    max-height: 300px;
  }
  .index section .imag, .index section .text-container,
  .aboutMe section .imag,
  .aboutMe section .text-container,
  .projects section .imag,
  .projects section .text-container,
  .services section .imag,
  .services section .text-container,
  .contact section .imag,
  .contact section .text-container {
    flex: 1 0;
  }
  .index section img,
  .aboutMe section img,
  .projects section img,
  .services section img,
  .contact section img {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .index section,
  .aboutMe section,
  .projects section,
  .services section,
  .contact section {
    max-width: 1200px;
  }
  .index section .imag, .index section .text-container,
  .aboutMe section .imag,
  .aboutMe section .text-container,
  .projects section .imag,
  .projects section .text-container,
  .services section .imag,
  .services section .text-container,
  .contact section .imag,
  .contact section .text-container {
    flex: 1 0;
  }
  .index section div .text-container,
  .aboutMe section div .text-container,
  .projects section div .text-container,
  .services section div .text-container,
  .contact section div .text-container {
    margin: 1em 0.8em 1em 0.8em;
    font-size: 20px;
  }
}
