@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.cdnfonts.com/css/brandon-grotesque-regular");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

section, nav {
  max-width: 1400px;
}

body {
  background-image: url("../images/Hexagon.svg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

main {
  padding: 1.5em 0em 1.5em 0em;
}

.container-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr auto 100px;
  grid-template-areas: "header" "main" "footer";
}

main {
  justify-self: center;
}

/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/bebas-neue-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v9-latin-regular.woff") format("woff"), url("../fonts/bebas-neue-v9-latin-regular.ttf") format("truetype"), url("../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-200 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/source-sans-pro-v21-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-200.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-200.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-200.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-200.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-200italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/source-sans-pro-v21-latin-200italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-200italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-200italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-200italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-200italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/source-sans-pro-v21-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-300.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-300.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-300.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/source-sans-pro-v21-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-300italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-300italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-300italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-300italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v21-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-regular.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v21-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/source-sans-pro-v21-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-600.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-600.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/source-sans-pro-v21-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-600italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-600italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-600italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-600italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source-sans-pro-v21-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-700.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-700.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/source-sans-pro-v21-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-700italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-700italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-700italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-700italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/source-sans-pro-v21-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-900.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-900.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-900.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-900.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
/* source-sans-pro-900italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/source-sans-pro-v21-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro-v21-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v21-latin-900italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-900italic.woff") format("woff"), url("../fonts/source-sans-pro-v21-latin-900italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v21-latin-900italic.svg#SourceSansPro") format("svg"); /* Legacy iOS */
}
header {
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif, sans-serif;
  background-color: #101820;
  font-size: 1.3em;
  grid-area: header;
  display: flex;
  justify-content: center;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  color: #101820;
  position: relative;
}
header nav .container-fluid {
  color: #101820;
  padding: 0 20px 0 20px;
  /* Lines of the Toggler */
  /* Adds Space between the lines */
  /* State when navbar is opened (START) */
  /* State when navbar is opened (END) */
  /* State when navbar is collapsed (START) */
  /* State when navbar is collapsed (END) */
  /* Color of Toggler when collapsed */
}
header nav .container-fluid .navbar-toggler {
  border: 0;
  border-color: #7EBC89;
  background-color: #7EBC89;
  height: 40px;
}
header nav .container-fluid .navbar-toggler:focus,
header nav .container-fluid .navbar-toggler:active,
header nav .container-fluid .navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
header nav .container-fluid .toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}
header nav .container-fluid .middle-bar {
  margin: 5px auto;
}
header nav .container-fluid .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
header nav .container-fluid .navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
header nav .container-fluid .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
header nav .container-fluid .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
header nav .container-fluid .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
header nav .container-fluid .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
header nav .container-fluid .navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item .nav-link.active {
  width: 100px;
  text-align: left;
  color: #101820;
  letter-spacing: 0.05em;
  transform: scaleY(1.1);
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item a {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item a span {
  color: #7EBC89;
  position: relative;
  z-index: 2;
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item a:hover {
  color: #fff;
}
header nav .container-fluid .navbar-collapse .menu-principal .nav-item a:hover:after {
  width: 100%;
}
header nav .container-fluid .navbar-collapse .nav-item.dropdown .nav-link {
  font-size: 1em;
  color: #7EBC89;
}
header .logo img {
  width: 7em;
}

nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform-origin: top right;
  transform: skewY(-2deg);
  z-index: -1;
  background-color: #101820;
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: -15px;
  left: 0;
  right: 0;
  background: inherit;
  transform-origin: top left;
  transform: skewY(-2deg);
  z-index: -1;
  background-color: #101820;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif, sans-serif;
  grid-area: footer;
  font-size: 1.2em;
  padding: 0 20px 0 20px;
  background-color: #101820;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap: 0.5em;
}
footer .mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #7EBC89;
}
footer .rounded-social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  font-size: 1.4em;
}
footer .rounded-social-buttons .social-button:hover {
  background-color: #FE5D26;
}
footer .rounded-social-buttons .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7EBC89;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: background 0.5s ease-in-out;
}
footer .rounded-social-buttons .social-button .fa-brands:hover {
  transform: rotate(360deg);
}
footer .rounded-social-buttons .social-button .fa-brands {
  font-size: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
footer .rounded-social-buttons i {
  color: #101820;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  padding: 1em;
  padding-bottom: 2em;
}
.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  gap: 1em;
  background-color: #101820;
  border: 2px solid #7EBC89;
  border-radius: 10px 10px 10px 10px;
  max-width: 400px;
}
.index section .text-container {
  color: #FEE715;
  max-width: 400px;
  font-family: "Source sans Pro", Courier, mono;
  font-style: normal;
  padding: 1em;
}
.index section .text-container h1 {
  font-weight: 500;
}
.index section .text-container span {
  color: #7EBC89;
  font-style: italic;
  font-weight: 900;
}
.index section .text-container .wrapper a {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: #7EBC89;
  border: 2px solid #7EBC89;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
.index section .text-container .wrapper span {
  font-style: normal;
  position: relative;
  z-index: 2;
  color: #FE5D26;
  font-size: 20px;
  letter-spacing: 0.2em;
}
.index section .text-container .wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FEE715;
  transition: all 0.35s;
}
.index section .text-container .wrapper a:hover {
  color: #fff;
}
.index section .text-container .wrapper a:hover:after {
  width: 100%;
}
.index section .imag {
  flex: 1;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.index section .imag img {
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover;
  scale: 110%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 1em;
  padding-bottom: 2em;
  gap: 1em;
}
.main-aboutme h1 {
  font-weight: 900;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  text-shadow: 5px 5px black;
  font-size: 3em;
  color: #FEE715;
}
.main-aboutme .aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  border-radius: 5px;
  background-color: #101820;
  border-radius: 10px 10px 10px 10px;
  max-width: 450px;
  border: 2px solid #7EBC89;
}
.main-aboutme .aboutMe .text-container {
  color: #FEE715;
  padding: 1em;
  flex: 1;
}
.main-aboutme .aboutMe .text-container h1 {
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  font-size: 50px;
  text-shadow: 5px 5px black;
}
.main-aboutme .aboutMe .text-container p {
  font-family: "Source sans Pro", Courier, mono;
  font-style: normal;
  font-size: 1em;
}
.main-aboutme .aboutMe .imag {
  flex: 1;
}
.main-aboutme .aboutMe .imag img {
  border-radius: 10px 10px 0px 0px;
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main-aboutme .skills {
  width: 100%;
  background-color: #101820;
  max-width: 450px;
  padding: 1em;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #7EBC89;
}
.main-aboutme .skills h2 {
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  font-size: 35px;
  text-align: center;
  color: #FEE715;
  text-shadow: 5px 5px black;
  margin-top: 50px;
}
.main-aboutme .skills .skill-bars {
  width: 100%;
  padding: 20px 20px;
  background-color: #101820;
  color: #FEE715;
  border-radius: 10px;
  margin-bottom: 50px;
}
.main-aboutme .skills .bar {
  margin: 20px 0;
  padding: 8px 0;
}
.main-aboutme .skills .bar:first-child {
  margin-top: 0px;
}
.main-aboutme .skills .info {
  margin-bottom: 5px;
}
.main-aboutme .skills .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.main-aboutme .skills .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.main-aboutme .skills .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #FE5D26;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.main-aboutme .skills .progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  opacity: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  animation: showText2 0.5s 1.5s linear forwards;
}
.main-aboutme .skills .progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  opacity: 0;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.main-aboutme .skills .html span {
  width: 84%;
}
.main-aboutme .skills .css span {
  width: 92%;
}
.main-aboutme .skills .JavaScript span {
  width: 60%;
}
.main-aboutme .skills .react span {
  width: 80%;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.main-aboutme .skills .html span::after {
  content: "84%";
}
.main-aboutme .skills .css span::after {
  content: "92%";
}
.main-aboutme .skills .JavaScript span::after {
  content: "60%";
}
.main-aboutme .skills .react span::after {
  content: "80%";
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  padding: 1em;
  padding-bottom: 2em;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #101820;
  border: 2px solid #7EBC89;
  border-radius: 10px 10px 10px 10px;
  align-items: stretch;
  padding: 1.5em 1em 1.5em 1em;
  border-radius: 10px 10px 10px 10px;
  max-width: 500px;
  gap: 20px;
  color: #FEE715;
}
.contact .container form .wrapper a {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: #7EBC89;
  border: 2px solid #7EBC89;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  text-decoration: none;
  transition: 0.4s ease;
  z-index: 1;
}
.contact .container form .wrapper a span {
  position: relative;
  z-index: 2;
  color: #FE5D26;
  font-size: 20px;
  letter-spacing: 0.2em;
}
.contact .container form .wrapper a:before, .contact .container form .wrapper a:after {
  background: #FEE715;
  transition: 0.3s ease;
  content: "";
  position: absolute;
  z-index: -1;
}
.contact .container form .left:before {
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
}
.contact .container form .left:hover:before {
  right: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-area: main;
  gap: 1em;
  padding: 1em;
  padding-bottom: 2em;
}
.projects h1 {
  font-weight: 900;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  text-shadow: 5px 5px black;
  font-size: 3em;
  color: #FEE715;
}
.projects section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #101820;
  border: 2px solid #7EBC89;
  border-radius: 10px 10px 10px 10px;
  gap: 1em;
}
.projects section .text-container {
  color: #FEE715;
  padding: 1em;
  flex: 1;
}
.projects section .text-container h2 {
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  font-size: 3em;
}
.projects section .text-container p {
  font-family: "Source sans Pro", Courier, mono;
  font-size: 1em;
}
.projects section .imag {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.projects section .imag img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.services {
  grid-area: main;
  padding: 1em;
}
.services .titulo {
  flex: 1 0 100%;
  display: flex;
  font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px black;
  color: #FEE715;
}
.services .titulo h1 {
  font-size: 50px;
}
.services section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #101820;
  border: 2px solid #7EBC89;
  border-radius: 10px 10px 10px 10px;
  gap: 0.5em;
  height: 380px;
  margin-bottom: 1em;
  max-width: 300px;
  padding-top: 2em;
  flex-shrink: 0;
}
.services section .text-container,
.services section .imag {
  flex: 1;
}
.services section .text-container {
  color: #FEE715;
  padding: 2em 1em 0em 2em;
}
.services section .text-container h1 {
  font-weight: 900;
  font-size: 1.4em;
}
.services section .text-container p {
  font-size: 1.2em;
}
.services section .imag:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.services section .imag {
  margin-top: 30px;
  width: 105px;
  height: 50px;
  background-color: #6c6;
  position: relative;
}
.services section .imag:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.services section .imag {
  display: flex;
  flex: 0;
  margin: 2em;
}
.services section .imag img {
  flex: 1;
  width: auto;
  height: 50px;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 340px) {
  main {
    margin: 1em;
  }
  .projects section {
    max-width: 500px;
  }
}
@media only screen and (min-width: 500px) {
  main {
    margin: 2em;
  }
}
@media only screen and (min-width: 767px) {
  main {
    margin: 2em;
  }
  nav::after {
    content: none;
  }
  header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    transform-origin: top right;
    transform: skewY(-2deg);
    z-index: -2;
    background-color: #101820;
    max-width: 100%;
  }
  header {
    position: relative;
  }
  header nav .container-fluid .navbar-collapse .menu-principal .nav-item .nav-link.active {
    text-align: center;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  .services .titulo {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    font-family: "Bebas Neue", Helvetica, Verdana, sans-serif;
    justify-content: center;
    text-shadow: 5px 5px black;
    color: #FEE715;
  }
  .services .titulo h1 {
    font-size: 50px;
  }
  .services section {
    max-width: 300px;
  }
  .services section .text-container h1 {
    font-size: 1.5em;
  }
  .services section .text-container p {
    font-size: 1.4em;
  }
  .container-grid {
    grid-template-rows: 93.95px auto 100px;
  }
  footer section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .services {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 1em;
  }
  .services section {
    margin: 1em;
  }
  .projects {
    gap: 1em;
  }
  .projects section {
    flex-direction: row;
    min-width: 700px;
    height: 400px;
    margin: 1em;
  }
  .projects section .imag,
  .projects section .text-container {
    flex: 1;
  }
  .projects section .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
  .projects section .imag {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
  }
  .projects section .imag img {
    position: absolute;
    height: 100%;
    width: auto;
    background-position: center;
    left: -60px;
  }
  .main-aboutme .aboutMe {
    flex-direction: row;
    max-width: 700px;
    margin: 1em;
  }
  .main-aboutme .aboutMe .imag,
  .main-aboutme .aboutMe .text-container {
    flex: 1;
  }
  .main-aboutme .aboutMe .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
  .main-aboutme .aboutMe .text-container p {
    font-size: 1.1em;
  }
  .main-aboutme .aboutMe .imag {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .main-aboutme .aboutMe .imag img {
    position: absolute;
    height: 120%;
    width: auto;
    left: -40px;
    top: -10px;
    right: 0;
  }
  .main-aboutme .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    max-width: 700px;
  }
  .main-aboutme .skills .skill-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    gap: 1em;
    width: 800px;
  }
  .main-aboutme .skills .skill-bars .bar {
    width: 350px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 840px) {
  main {
    margin: 3em;
  }
  .projects section {
    flex-direction: row;
    max-width: 850px;
  }
  .projects section .text-container h2 {
    font-size: 3em;
  }
  .projects section .text-container p {
    font-size: 1.5em;
  }
  .main-aboutme .aboutMe {
    height: 300px;
    max-width: 900px;
  }
  .main-aboutme .aboutMe .imag {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .main-aboutme .aboutMe .imag img {
    position: absolute;
    height: 120%;
    width: auto;
    left: -40px;
    top: -10px;
    right: 0;
  }
  .main-aboutme .skills {
    flex-direction: row;
    padding: 0;
    margin: 0;
    max-width: 900px;
  }
  .index section .imag {
    background-position: center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
  }
  .index section .imag img {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    margin: 4em;
  }
  header::after {
    transform: skewY(-2deg);
  }
  .index section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    margin: 0;
    max-width: 1100px;
  }
  .index section .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
  }
  .index section .text-container h1 {
    font-size: 180%;
  }
  .index section .imag {
    background-position: center;
    background-size: cover;
    max-width: 400px;
  }
  .index section .imag img {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
  }
}
