*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
list-style: none;}

section,nav{
	max-width: 1400px;
}

.container-grid {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 0.5fr 3fr 0.5fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	
}
header,main,footer{padding: 0.5em;}
header,footer{
	font-family: "Bebas Neue", cursive;
 
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	grid-area: main;
	background-color: #2B59C3;
	font-family: "Source Sans Pro", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5;
	}

header{grid-area: header;
	}
footer{ grid-area: footer;
	}
main section{
	flex-grow: 1;
	gap: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1em;
	padding: 0.5em;
	max-width: 480px;
	
}

.imag, .text-container{
	flex: 1 0;
}

h1{
	font-weight: 900;
}

h2{font-size: x-large;}

span{
	color: #F49301;
}


div .text-container {
  margin: 1em 0.8em 1em 0.8em;
  
  
}
.imag {
	width: 100%;
	background-position: center;
	background-size: cover;
}

img{
  
 
  width: 100%;
  height: auto;

  border-radius: 5px;
  background-position: center;
	background-size: cover;
  
}

.mail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.rounded-social-buttons{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.logo>img {
	width: 7em;
}



.nav-item>a:hover{
	background-color: #F49301;
	transform: scale(1.2,1.2);
}

a{

	font-size: 1em;
	text-decoration: none;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}

.button{
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 10s;
	

	will-change: transform;
}


@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 840px) {
	main section{
		flex-direction: row;
		align-items: center;
		justify-content: stretch;
		margin: 1em;
		padding: 0.5em;
		max-width:800px;
	}


	
	

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
	
	main section{
	
		max-width:900px;
		height: 500px;
	}

	div .text-container {
		margin: 1em 0.8em 1em 0.8em;
		font-size: 20px;
		
	  }



}