<h1 mat-dialog-title>Agregar educación</h1>
<div mat-dialog-content>
  <form [formGroup]="educationForm">

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Escuela</mat-label>
      <input matInput formControlName="escuela" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Título (Español)</mat-label>
      <input matInput formControlName="titulo_es" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Título (Inglés)</mat-label>
      <input matInput formControlName="titulo_en" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="imagen" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Carrera (Español)</mat-label>
      <input matInput formControlName="carrera_es" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Carrera (Inglés)</mat-label>
      <input matInput formControlName="carrera_en" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Inicio</mat-label>
      <input matInput [matDatepicker]="pickerInicio" formControlName="inicio" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-3 w-100">
      <mat-label>Fin</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fin" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFin"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!educationForm.valid"
  >
    Guardar
  </button>
</div>
