<article class="education">
  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar" *ngIf="isAuthenticated" (click)="agregar()">
        <i class="fa-solid fa-square-plus"></i>
      </div>
    </div>
  </div>

  <h2>{{jsonData?.menu?.educacion}}</h2>
  <section class="card-edu">
    <section *ngFor="let education of educacion">
      <div class="modificaciones" *ngIf="isAuthenticated">
        <div class="container-modificaciones">
          <div class="boton-editar" (click)="editar(education)">
            <i class="fa-regular fa-pen-to-square"></i>
          </div>
          <div class="boton-editar" (click)="delete(education)">
            <i class="fa-sharp fa-solid fa-trash-can"></i>
          </div>
        </div>
      </div>
      <div class="line"></div>

      <div class="title">
        <h4 *ngIf="selectedLanguage === 'es'">{{ education.carrera_es }}</h4>
        <h4 *ngIf="selectedLanguage === 'en'">{{ education.carrera_en }}</h4>
        <h6 class="font-weight-bolder">
          {{ education.escuela }}
          <span class="font-weight-light"
            >&nbsp;|&nbsp;{{
              education.inicio | date : "dd MMMM yyyy" : "" : "es"
            }}
            &ndash; {{ education.fin | date : "dd MMMM yyyy" : "" : "es" }}
          </span>
        </h6>
        <div class="container-img">
          <img src="{{ education?.imagen }}" alt="personal photo" />
        </div>
      </div>
      
    </section>
  </section>
</article>
