<article class="education">

  <h2>{{miPortfolio?.section_edu?.title}}</h2>
  <section class="card-edu">

    <section *ngFor="let education of miPortfolio?.section_edu?.educations">
      
      <div class="line"></div>

      <div class="title">
        <h4> Trabajo</h4>
        <h6 class="font-weight-bolder">
          User Experience Designer
          <span class="font-weight-light">&nbsp;|&nbsp;July 2015 &ndash; Present
          </span>
        </h6>
      </div>

      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sed quia adipisci ipsam
        nam est asperiores alias obcaecati et provident, doloribus earum labore voluptates dolorum amet sapiente esse
        nihil assumenda.
      </div>
    </section>




  </section>







</article>