@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

footer {
	@include a.fx-all-center;
	font-family: t.$sans-serif, sans-serif;
	grid-area: footer;
	font-size: 1.2em;

	background-color: v.$azul;
	padding: 1% 8% 1% 8%;
  section{
    @include a.fx-col-all-center;
  }

	.mail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		color: v.$amarillo;
	}

	.rounded-social-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 2em;
		font-size: 1.4em;
		i{
			color: v.$amarillo;
		}
		
	}
}
