@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

header {
	
	font-family: t.$sans-serif, sans-serif;
	font-size: 1.3em;
	grid-area: header;
  display: flex;
  justify-content: center;
	background-color: v.$azul;
  

  nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

	.logo img {
		width: 7em;
	}

	.nav-item a:hover {
		background-color: #f49301;
	}
}
