@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

header {
	font-family: t.$sans-serif, sans-serif;
	background-color: v.$secundario;
	font-size: 1.3em;
	grid-area: header;
	display: flex;
	justify-content: center;

	nav {
		flex: 1;
		display: flex;
		justify-content: space-around;
		color: v.$secundario;

		.container-fluid {
			color: v.$secundario;
			padding: 0 20px 0 20px;
			.navbar-collapse {

				.menu-principal{
					.nav-item .nav-link.active {
						width: 100px;
						text-align: left;
						color: v.$secundario;
						letter-spacing: 0.05em;
						transform: scaleY(1.1);
					}
	
					.nav-item a{
					
				
					
						
						text-decoration: none;
						
						
						letter-spacing: 2px;
						text-align: center;
						position: relative;
						transition: all .35s;
					}
				
					.nav-item a span{
						color: v.$tercero;
						position: relative;
						z-index: 2;
					}
				
				
				
					.nav-item a:after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						background: #ff003b;
						transition: all 0.35s;
					}
				
					
				
					.nav-item a:hover {
						color: #fff;
					}
				
					.nav-item a:hover:after {
						width: 100%;
					}


				}
			
				.nav-item.dropdown .nav-link {
					font-size: 1em;

					color: v.$tercero;
				}
			}
		}
	}

	.logo img {
		width: 7em;
	}


}
