@use "../abstracts/mixins" as a;
@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

header {
	font-family: t.$sans-serif, sans-serif;
	font-size: 1.3em;
	grid-area: header;
	display: flex;
	justify-content: center;
	background-color: v.$azul;
	padding: 1% 8% 1% 8%;

	nav {
		flex: 1;
		display: flex;
		justify-content: space-between;
		color: v.$amarillo;

		.container-fluid {
			color: v.$amarillo;

			li .nav-link {
				font-size: x-large;
				color: v.$amarillo !important;
			}
		}
	}

	.logo img {
		width: 7em;
	}

	.nav-item a:hover {
		background-color: #f49301;
	}
}
