
    <article id="services" class="services">

      <div class="titulo">
        <h1>Servicios</h1>
      </div>


      <section>
        <div class="imag">
          <img src="../../assets/images/codificacion.svg" alt="svg of a server">
        </div>
        <div class="text-container">
          <H1>BACKEND DEVELOPMENT</H1>
          <p>I can desing the Backend with Django and SQL database. </p>
        </div>

      </section>

      <section>
        <div class="imag">
          <img src="../../assets/images/bosquejo.svg" alt="svg of a monitor">
        </div>
        <div class="text-container">
          <H1>FRONTEND DEVELOPMENT</H1>
          <p>I can desing your webpage for your business in the way you desire. </p>
        </div>
      </section>

      <section>
        <div class="imag">
          <img src="../../assets/images/server-svgrepo-com.svg" alt="svg of a server">
        </div>
        <div class="text-container">
          <H1>HOSTING</H1>
          <p>No need to worry about a hosting services, because ill provide one for you. </p>
        </div>

      </section>


      <section>
        <div class="imag">
          <img src="../../assets/images/services.svg" alt="svg of a server">
        </div>
        <div class="text-container">
          <H1>TECHNICAL SUPPORT</H1>
          <p>Ill give you  one month free support for any small change you want to do in the page. </p>
        </div>

      </section>


    </article>
