<h1 mat-dialog-title>Agregar experiencia</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm">
    
    <mat-form-field class="mb-3 w-100">
      <mat-label class="form-label">Lugar</mat-label>
      <input matInput formControlName="lugar" />
    </mat-form-field>

    <mat-form-field class="mb-3 w-100">
      <mat-label class="form-label">Puesto</mat-label>
      <input matInput formControlName="puesto" />
    </mat-form-field>

    <mat-form-field class="mb-3 w-100">
      <input matInput [matDatepicker]="pickerDesde" formControlName="desde" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerDesde"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerDesde></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mb-3 w-100">
      <mat-label>Hasta</mat-label>
      <input matInput [matDatepicker]="pickerHasta" formControlName="hasta" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerHasta"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerHasta></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mb-3 w-100">
      <mat-label class="form-label">Empresa</mat-label>
      <input matInput formControlName="empresa" />
    </mat-form-field>

    <mat-form-field class="mb-3 w-100">
      <mat-label class="form-label">descripcion</mat-label>
      <input matInput formControlName="descripcion" />
    </mat-form-field>

    <div mat-dialog-action>
      <button mat-button (click)="add()">Submit</button>
      <button mat-button (click)="onNoClick($event)">Cancelar</button>
    </div>
  </form>
</div>
