<article  class="skill">

  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar" *ngIf="isAuthenticated" (click)="agregar()"><i class="fa-solid fa-square-plus"></i></div>
    
    </div>
  </div>
  <h2>{{jsonData?.menu?.habilidades}}</h2>
  <section class="skills">
    
    <div class="skill-bars"  *ngFor="let skill of skills">
      <div class="modificaciones">
        <div class="container-modificaciones" *ngIf="isAuthenticated">
          <div class="boton-editar" (click)="editar(skill)"><i class="fa-regular fa-pen-to-square"></i></div>
          <div class="boton-editar" (click)="delete(skill)"><i class="fa-sharp fa-solid fa-trash-can"></i></div>
        </div>
      </div>
      <div class="container">
        <div class="circular-progress" [style]="'background: conic-gradient(#7d2ae8 '+ 360*(skill.porcentaje/100)+'deg, #ededed 0deg)'">
          <span class="progress-value">{{ skill.porcentaje}}</span>
        </div>

        <span class="text">{{ skill.nombre}}</span>
      </div>
      
    </div>
  </section>

</article>