<article class="experience">
  <div class="agregar">
    <div class="container-agregar">
      <div class="boton-agregar" *ngIf="isAuthenticated" (click)="agregarExp()">
        <i class="fa-solid fa-square-plus"></i>
      </div>
    </div>
  </div>

  <h2>{{jsonData?.menu?.experiencias}}</h2>

  <section class="card-exp">
    <section *ngFor="let experience of experiences">
      <div class="modificaciones" *ngIf="isAuthenticated">
        <div class="container-modificaciones">
          <div class="boton-editar" (click)="editarExp(experience)">
            <i class="fa-regular fa-pen-to-square"></i>
          </div>
          <div class="boton-editar" (click)="openDeleteDialog(experience)">
            <i class="fa-sharp fa-solid fa-trash-can"></i>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="title">
        <h4>{{ selectedLanguage === 'es' ? experience.puesto_es : experience.puesto_en }}</h4>
        <h6 class="font-weight-bolder">
          {{ experience.desde  | date : "dd-MM-yyyy" }} -
          {{  experience.hasta  | date : "dd-MM-yyyy" }}
          <span class="font-weight-light">{{ experience.empresa }}</span>
        </h6>
      </div>
      <div class="description">
        {{ selectedLanguage === 'es' ? experience.descripcion_es : experience.descripcion_en }}
      </div>
    </section>
  </section>
</article>
