@use "../abstracts/variables" as v;

section,nav{
	max-width: 1400px;
}

body{
	background-image: url("../../assets/images/Hexagon.svg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	
}

main{
  width: 100%;
  grid-area: main;
  justify-self: stretch;
	align-self: stretch;
}

app-services {
	display: flex;
	justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
	
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px v.$primario;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: v.$cuarto;
  border-radius: 10px;
}