section,nav{
	max-width: 1400px;
}

body{
	background-image: url("../../assets/images/Hexagon.svg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	
}

main{
  
  grid-area: main;
  justify-self: stretch;
	align-self: stretch;
}

app-services {
	display: flex;
	justify-content: center;
}