@use "../abstracts/variables" as v;

header,
article {
  max-width: 1400px;
}

header {
  margin-right: 10px;
}
app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body {
}

.index {
  min-height: 70vh;
}

article {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-right: 1em;
  padding-left: 1em;
}

main {
  width: 100vw;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 75px;

  background-image: url("../../assets/images/Hexagon.svg");

  /* Create the parallax scrolling effect */

  background-repeat: repeat;
  background-size: contain;
  overflow-x: hidden;

  & > * {
    background-color: v.$secundario;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    & > article {
    }
  }
}

header,
footer {
  padding: 0 15px 0 15px;
}

app-footer {
  align-self: stretch;
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px v.$primario;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: v.$cuarto;
  border-radius: 10px;
}
